@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #00061d   ;
  --secondary-color: #001f54 ;
  --accent1-color: #1282a2;
  --accent2-color: #facd03;
  --accent3-color: #fefcfb;

  /* change the values below to your chosen font(s) */
  --heading-font: "Carter One";
  --paragraph-font: Roboto, Helvetica, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #00061d;  /* headlines on a white background */ 
  --headline-color-on-color: white; /* headlines on a colored background */ 
  --paragraph-color-on-white: #001f54; /* paragraph text on a white background */ 
  --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
  --paragraph-background-color: #396E94  ;
  --nav-link-color: #1282a2;
  --nav-background-color: #00061d;
  --nav-hover-link-color: white;
  --nav-hover-background-color: #facd03;
}
body {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
    background-color:#001f54;
    font-size: 22px;
    padding: 0;
    font-family: Roboto, Helvetica, sans-serif;
}
header {
    background-color: rgba(0, 6, 29, .6);
    display: grid;
    grid-template-columns: 150px auto;

}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -150px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 150px;
}
#hero-msg h1 {
    text-align: center;
    grid-column: 2/3;
    grid-row: 1/2;
} 
#hero-msg h4{
    text-align: center;
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    
    
}
.home-title {   
    color: #facd03;
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Carter One', Roboto, sans-serif;
}

.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color:#1282a2;
    grid-column: 1/11;
    grid-row: 4/9;
}
/* img {
    border: 4px #00061d;
    padding: 10px;
} */
.icon {
    width: 80px;
    padding-top: 10px;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
/* * {
    border: 2px solid blue;
} */
h1 {
    text-align: center;
    margin: 50px 0;
}
h2 {
    margin: 0;
}
h4 {
    color: white;
}
nav {
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #facd03;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #001f54;
    color: #fefcfb;
}
footer {
    background-color: #00061d;
    color: white;
    padding-top: 15px;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer p {
    margin: 20px auto;
    padding: 25px;
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a{
    color: #fefcfb;
    text-decoration: none;
}
footer a:hover{
    color: #1282a2;
}
.social {
    background-color:#00061d;
    padding-top: 15px;
}
main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
.home-grid {
    color:#fefcfb;
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}
a:hover {
    background-color: #001f54;
    color: #fefcfb;
    
}
.book, .join {
    background-color: #fefcfb;
    color: #00061d;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 18px;
    margin-top: 50px;
    border-radius: 5px;
    border-color: #001f54;
}
.book:hover, .join:hover {
    background-color: #facd03;
    color: #001f54;
    border: 4px #001f54;
}
.msg {
    background-color:#001f54;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #facd03;
}
.msg h2{
    background-color:#001f54;
    color: #1282a2;
    font-size: 1.5em;
}
.msg p{
    background-color:#001f54;
    color: #fefcfb;
    padding-bottom: 15px;
    font-size: .8em;
}
.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}
.card-img {
    border: 10px solid black;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #facd03;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #facd03;
}
main section img {
    box-sizing: border-box;
}
.rates-dates-grid {
    color:#fefcfb;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(6, 1fr);
}
.grand-canyon-card {
    margin: 200px 0;
    grid-column: 1/11;
    grid-row: 1/3 ;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 5px solid #facd03; */
}
.canyon-text {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    justify-content: space-between;
}
.Grand-canyon-text1 {
    grid-column: 1/6;
    grid-row: 1/2;
    /* width: 40%; */
}
.canyon-card-img, .desolation-card-img, .salmon-card-img, .salmon-card-img2 {
    border: 4px solid black;
    width: 50%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #facd03;
    /* grid-column: 6/11; */
    /* grid-row: 1/4; */
}
.button-box-in {
    text-align: center;
    grid-row: 3/4;
}
.grand-canyon-six-nights-card {
    margin: 200px 0;
    grid-column: 1/6;
    grid-row: 2/3;
    
}
.salmon-river-card {
    margin: 100px 0;
    grid-column: 1/11;
    grid-row: 3/5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 5px solid #facd03; */
}
.desolation-card {
    margin: 100px 0;
    grid-column: 1/11;
    grid-row: 5/7;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border: 5px solid #facd03; */
    /* box-shadow: 5px 5px 10px #facd03; */
}
/* ----------Contact Us begins ---------------- */
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #facd03; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  input[type=email], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #facd03; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: white;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #facd03;
  }
  
  /* Add a background color and some padding around the form */
  #feedback {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    
  }
/* ------------Contact us ends ---------------------- */

/* ---------------Slideshow Css begins -----------*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* --------Slideshow Css ends------------- */
@media screen and (max-width: 900px) {
    #hero, .home-grid, .rates-dates-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    .grand-canyon-card, .salmon-river-card, .desolation-card { 
        display: block;
        margin: 50px auto;
        width: 60%;
        font-size: 1rem;
    }
    .canyon-text, .Grand-canyon-text1, .canyon-card-img, .grand-canyon-six-nights-card, .salmon-card-img, .salmon-card-img2, .desolation-card-img {
        display: block;
        height: auto;
        width: 100%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}