.home-header {

}
body {
    max-width: 300px;
    margin: 0 auto;
    text-align: center;
    background-color: #ffffff;
}
.article {
    padding: 10px;
    margin: 20px;
}
.footer {
    display: grid;
    grid-template-columns: 100px, 100px, 100px;
    grid-template-rows: 50px;
    background-color: #154c79;
    color: #ffffff;
    padding: 4px;
}
.first {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;
    
}
.second {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 5px;
    border: 4px, #ffffff;
    text-align: center;
}
.third {
    grid-column: 3/4;
    grid-row: 1/2;
    padding: 5px;
    text-align: center;
}