@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Dancing+Script&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #7209B7   ;
    --secondary-color: #B5179E ;
    --accent1-color: #3A0CA3;
    --accent2-color: #4CC9F0;
    --accent3-color: #fefcfb;
  
    /* change the values below to your chosen font(s) */
    --heading-font: "Dancing Script";
    --paragraph-font: Caveat, Helvetica, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #3A0CA3;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #7209B7; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #B5179E  ;
    --nav-link-color: #4CC9F0;
    --nav-background-color: #7209B7;
    --nav-hover-link-color: #7209B7;
    --nav-hover-background-color: #4CC9F0;
}
body {
    max-width: 100%;
    font-family: Caveat, Helvetica, sans-serif;
    background-color:#0b031b;
}
header {
    background-color: rgba(255, 189, 251, 0.6);
    display: grid;
    grid-template-columns: 150px auto;

}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    color: white;
    padding: 25px;
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #0b031b;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #7209B7;
    color: #fefcfb;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -150px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
/* #hero_text_banner-img {
    grid-column: 1/2;
     */
/* } */
#hero-img {
    width: 100%;
}
#hero-msg {
    grid-column: 1/4;
    grid-row: 1/2;
    margin-top: 150px;
    font-size: 3em;
    padding: 1%;
    width: 100%;
}
#hero-msg h1 {
    text-align: left;
    grid-column: 2/3;
    grid-row: 1/2;
} 
#hero-msg h4{
    text-align: left;
    color: white;
    grid-column: 2/3;
    grid-row: 1/2;
    font-size: 2em;
        
}
.button-box1 {
    width: auto;
    grid-column: 1/4;
    grid-row: 2/3;
    text-align: left;
}
.home-grid {
    color:#fefcfb;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 500px, 100px, 500px, 100px, 500px, 100px, 600px, 600px;

}
.row1-card {
    grid-column: 2/11;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
.row1_image {
    grid-column: 1/2;
    width: 70%;
    margin: 20px;

}

.row1_title {
    font-size: 1.5em;
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 20px, 40px, 70px, 30px;
}
.row_title {
    font-size: 2em;
}
.row2-card {
    grid-column: 2/10;
    font-size: 2em;
}
.row2_title{
    font-size: 2em;
}
.row3-card {
    grid-column: 1/11;
    
}
.row3_services{
    grid-column: 1/11;
    
}
.service_block1 {
    background-color: #B5179E;
    max-width: 25%;
    margin: 70px 3%;
    padding: 8px 8px;
    border: 5px;
    border-radius: 50%;
}
.row4-card {
    grid-column: 1/11;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}
.row4_title1_with_text {
    grid-column: 1/2;
    font-size: 1.5em;
    max-width: 80%;
    margin: 1px 3%;
    padding: 1px 8px;
}
.row4_title2_with_text {
    grid-column: 2/3;
    font-size: 1.5em;
    max-width: 80%;
    margin: 1px 3%;
    padding: 1px 8px;
}
.row4_title3_with_text {
    grid-column: 3/4;
    font-size: 1.5em;
    max-width: 80%;
    margin: 1px 3%;
    padding: 1px 8px;
}
/* .row4_title3 {
 
} */
.row5-card {
    grid-column: 1/11;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr, 1fr;
}
.row5_services {
    grid-column: 3/5;
}
.service_block2 {
    background-color: #B5179E;
    max-width: 25%;
    margin: 70px 5%;
    padding: 8px 15px;
    border: 5px;
    border-radius: 50%;
    align-content: center;
}

.row6-card {
    grid-column: 1/11;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.row6_title1_with_text {
    grid-column: 3/6;
    font-size: 1.5em;
    max-width: 80%;
    margin: 1px 15%;
    padding: 1px 15px;
}
.row6_title2_with_text {
    grid-column: 6/9;
    font-size: 1.5em;
    max-width: 80%;
    margin: 1px 15%;
    padding: 1px 15px;
}

.row7-card {
    grid-column: 1/11;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
.testimonial1-img {
    grid-column: 2/3;
    width: 70%;
}
.row7_text_box {
    grid-column: 1/2;
}
.row7_title {
    font-size: 1.5em;
}
.row8-card {
    grid-column: 1/11;
    display: grid;
    grid-template-columns: 1fr, 1fr;
}
.testimonial2-img {
    grid-column: 1/2;
    width: 70%;
}
.row8_text_box {
    grid-column: 2/3;
    font-size: 1.5em;
}
.row8_title {
    font-size: 1.5em;
}
.book, .join {
    background-color: #fefcfb;
    color: #00061d;
    text-decoration: none;
    padding: 15px 30px;
    font-size: 25px;
    margin-top: 50px;
    border-radius: 5px;
    border-color: #001f54;
    
}
.book:hover, .join:hover {
    background-color: rgba(252, 194, 248, 0.6);
    color: #001f54;
    border: 4px #001f54;
}
footer {
    width: auto;
    background-color: rgba(252, 194, 248, 0.6);
    color: white;
    padding-top: 15px;
    padding: 25px 50px;
    margin-top: 200px;
    display: grid;
    grid-template-rows: 500px, 20px, 20px;
    /* display: flex;
    justify-content: space-around;
    align-items: center; */
}
.footer_links {
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr;
}
.flinks {
    grid-column: 1/2;
}
.flinks2 {
    grid-column: 2/3;
}
.social {
    grid-column: 3/4;
}
footer p {
    margin: 20px auto;
    padding: 25px;
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
footer a{
    color: #fefcfb;
    text-decoration: none;
}
footer a:hover{
    color: #1282a2;
}
.footer_line-img {
    width: 100%;
}

/* ---------------------------------
SlideShow
------------------------------------ */

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  height: 600px;
  position: relative;
  margin: auto;
  
}

/* Hide the images by default */
.mySlides {
  display: none;
  
}
.hero2 {
    max-height: 700px;
    width: auto;
    height: auto;
    object-fit: contain;
}
.hero3 {
    max-height: 700px;
    width: auto;
    height: auto;
    object-fit: contain;
}
.hero4 {
    max-height: 700px;
    width: auto;
    height: auto;
    object-fit: contain;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #B5179E;
  text-shadow: 0 0 10px #4CC9F0;
  font-size: 60px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
}
/* -------------------------------------
End SlideShow
---------------------------------------- */

@media only screen and (max-width: 600px) {
    #hero_text_banner-img {
        width: 100%; 
        height: auto; 
    }

    #hero-msg {
        background-size: contain; 
    }
    #hero-msg {
        font-size: 1em;
    }
}
